/* assets/css/styles.css */

/* Light Mode */
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --sidebar-bg: #ffffff;
    --sidebar-text: #000000;
  }
  
  /* Dark Mode */
  [data-theme='dark'] {
    --bg-color: #1b1b29;
    --text-color: #ffffff;
    --sidebar-bg: #1b1b29;
    --sidebar-text: #ffffff;
  }
  
  /* Apply variables */
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  .sidebar {
    background-color: var(--sidebar-bg);
    color: var(--sidebar-text);
  }
  