.dark-mode body {
    background-color: #161c24;
    color: #ebf4f1;
  }
  
  .sepia-mode body {
    background-color: #f1e7d0;
    color: #433422;
  }
  
  body {
    font-family: Poppins, sans-serif;
  }